{% extends "base.html" %}

{% block title %}Home | PokeBuddy{% endblock %}

{% block pokemoncontent %}
    <div class="box">
        <div class="container-fluid" style="margin-top: 75px">
     	    <div class="row">

            {% if pokemon %}
                {% for pkmn in pokemon %}
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 py-3">
                        <div class="card">

                            <div class="card-body">
                                <h4 class="card-title">{{ pkmn.pkmn_name }}</h4>
                                <small class="text-muted cat">
                                    <i class="far text-info">Pokemon #: {{ pkmn.pkmn_number }}</i>
                                    <i class="fas text-info">Nature: {{ pkmn.nature }}</i>
                                </small>
                                <small class="text-muted cat">
                                    <i class="far text-info">Type: {{ pkmn.pkmn_type1 }}</i>
                                    {% if pkmn.pkmn_type2|length > 0 %}
                                        <i class="fas text-info">Type: {{ pkmn.pkmn_type2 }}</i>
                                    {% endif %}
                                </small>

                                <p class="card-text">Sample text for display purposes</p>
                                <table class="table table-sm table-hover mx-auto w-50">
                                    <thead>
                                    <tr>
                                        <th scope="col">Stats</th>
                                        <th scope="col">IVs</th>
                                        <th scope="col">EVs</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">HP</th>
                                        <td>{{ pkmn.stats.iv_hp }}</td>
                                        <td>{{ pkmn.stats.ev_hp }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">ATK</th>
                                        <td>{{ pkmn.stats.iv_atk }}</td>
                                        <td>{{ pkmn.stats.ev_atk }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">DEF</th>
                                        <td>{{ pkmn.stats.iv_def }}</td>
                                        <td>{{ pkmn.stats.ev_def }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">S.ATK</th>
                                        <td>{{ pkmn.stats.iv_satk }}</td>
                                        <td>{{ pkmn.stats.ev_satk }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">S.DEF</th>
                                        <td>{{ pkmn.stats.iv_sdef }}</td>
                                        <td>{{ pkmn.stats.ev_sdef }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">SPD</th>
                                        <td>{{ pkmn.stats.iv_spd }}</td>
                                        <td>{{ pkmn.stats.ev_spd }}</td>
                                    </tr>
                                    </tbody>

                                </table>
                                <button class="btn btn-sm btn-primary" type="button" data-id="#">Edit</button>
                            </div> <!-- /card-body -->

                            <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                                <div class="views">Date captured: {{ pkmn.captured_date }}</div>
                            </div> <!--/card-footer-->

                            <a href="#" class="btn btn-danger btn-xs">Delete</a>
                        </div> <!--/card-->
                    </div> <!--/col-->
                {% endfor %}
                {% else %}
    <p>No Pokemon are listed at the moment.</p>

{% endif %}
            </div> <!--/row-->
        </div> <!--/container-fluid-->
    </div> <!--/box-->
{% endblock %}