{% extends "base.html" %}

{% block title %}Home | PokeBuddy{% endblock %}

{% block pokemoncontent %}
    <div class="box">
        <div class="container-fluid" style="margin-top: 75px">
     	    <div class="row">

            {% if all_pokemon_list %}
                {% for pokemon in all_pokemon_list %}
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 py-3">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{ pokemon.pkmn_name }}</h4>
                                <small class="text-muted cat">
                                    <i class="far text-info">Pokemon #: {{ pokemon.pkmn_number }}</i>
                                    <i class="fas text-info">Nature: {{ pokemon.nature }}</i>
                                </small>
                                <small class="text-muted cat">
                                    <i class="far text-info">Type: {{ pokemon.pkmn_type1 }}</i>
                                    {% if pokemon.pkmn_type2|length > 0 %}
                                        <i class="fas text-info">Type: {{ pokemon.pkmn_type2 }}</i>
                                    {% endif %}
                                </small>

                                <p class="card-text">Sample text for display purposes</p>
                                <table class="table table-sm table-hover mx-auto w-50">
                                    <thead>
                                    <tr>
                                        <th scope="col">Stats</th>
                                        <th scope="col">IVs</th>
                                        <th scope="col">EVs</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">HP</th>
                                        <td>{{ pokemon.stats.iv_hp }}</td>
                                        <td>{{ pokemon.stats.ev_hp }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">ATK</th>
                                        <td>{{ pokemon.stats.iv_atk }}</td>
                                        <td>{{ pokemon.stats.ev_atk }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">DEF</th>
                                        <td>{{ pokemon.stats.iv_def }}</td>
                                        <td>{{ pokemon.stats.ev_def }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">S.ATK</th>
                                        <td>{{ pokemon.stats.iv_satk }}</td>
                                        <td>{{ pokemon.stats.ev_satk }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">S.DEF</th>
                                        <td>{{ pokemon.stats.iv_sdef }}</td>
                                        <td>{{ pokemon.stats.ev_sdef }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">SPD</th>
                                        <td>{{ pokemon.stats.iv_spd }}</td>
                                        <td>{{ pokemon.stats.ev_spd }}</td>
                                    </tr>
                                    </tbody>

                                </table>
                                <a href="#" class="btn btn-info">Edit</a>
                            </div>

                            <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                                <div class="views">Date captured: {{ pokemon.captured_date }}</div>
                            </div> <!--/card-footer-->
                            <a href="#" class="btn btn-danger btn-xs">Delete</a>
                        </div> <!--/card-->
                    </div> <!--/col-->
                {% endfor %}
                {% else %}
    <p>No Pokemon are listed at the moment.</p>

{% endif %}
            </div> <!--/row-->
        </div> <!--/container-fluid-->
    </div> <!--/box-->
{% endblock %}